<a href="https://colab.research.google.com/github/HurricaneCam206/Bootcamp-GT/blob/main/Module%200/s3nb5_sets_SP25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sets

### Sets in Python

####  A set is an unordered collection with no duplicate elements. Sets are mutable, but they must contain immutable elements.

Basic uses include membership testing and eliminating duplicate entries.

Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

To create a set, we use either curly braces or the set() function.

We can create:

1. An empty `set`, using the `set()` function.

2. A `set` with values, using either `set()` or curly braces, `{}`.

     a. The `set()` function takes a single argument, which can be a list or string. It will return the unique elements for that are within that object.
     
     b. Creating a set with curly braces `{}` takes one or more arguments. It will return the unique elements of those arguments themselves.


3. A `set` created from another variable (`list` or `string`) will contain only the unique elements of that original variable, using the `set()` function. **This will be the most common method of creating a set in this class.**

Note: to create an empty set you have to use set(), not {}; The latter creates an empty dictionary, a data structure that we will cover in the next bootcamp session.

#### Set documentation link: https://docs.python.org/3/tutorial/datastructures.html#sets

### <span style="background-color: #FFFF00">In this class, for homework notebooks and exams, most every time that you are asked for the unique values of some object/variable, you will be using a `set()` to return those unique values.</span>

Some objects have their own `unique()` method, and we will be covering those later in the semester.

#### Create empty sets

In [1]:
empty_set_1 = set()
# note that this creates a dictionary
empty_set_2 = {}

display(empty_set_1)
display(empty_set_2)

# set
display(type(empty_set_1))
#dictionary
display(type(empty_set_2))

set()

{}

set

dict

#### Create a set with values.

In [2]:
# pass in a string
set_1 = set('abracadabra')
display(set_1)

# pass in a list
set_2 = set(['potter', 'weasley', 'granger', 'snape', 'potter', 'snape'])
display(set_2)

{'a', 'b', 'c', 'd', 'r'}

{'granger', 'potter', 'snape', 'weasley'}

In [3]:
# will error out, because multiple parameters
# set_3 = set('potter', 'weasley', 'granger', 'snape', 'potter', 'snape')
# display(set_3)

In [4]:
# using curly braces
set_4 = {'abracadabra'}
display(set_4)

set_5 = {'potter', 'weasley', 'granger', 'snape', 'potter', 'snape'}
display(set_5)

{'abracadabra'}

{'granger', 'potter', 'snape', 'weasley'}

#### Create a set as the unique values of another variable, such as a list or string.

In [5]:
str_potter_1 = 'avada kedavra'
set_6 = set(str_potter_1)
display(set_6)

{' ', 'a', 'd', 'e', 'k', 'r', 'v'}

In [11]:
lst_potter_2 = ['potter', 'weasley', 'granger', 'snape', 'potter', 'snape']
set_7 = set(lst_potter_2)
display(set_7)
set_7.remove('potter')
display(set_7)
set_7.add('potter')
display(set_7)

{'granger', 'potter', 'snape', 'weasley'}

{'granger', 'snape', 'weasley'}

{'granger', 'potter', 'snape', 'weasley'}

In [12]:
# recall that a set is unordered, so we cannot address specific elements by index
# will throw an error
# display(set_7[0])

#### Testing membership in set

In [13]:
'dumbledore' in set_7

False

In [15]:
if 'dumbledore' in set_7:
    print("He is")
else:
    print("He's not")

He's not

#### Use Python bitwise operators to compare the values in two sets.

https://realpython.com/python-bitwise-operators/

In [16]:
set_magic = set('abracadabra')
set_spell = set('avada kedavra')
display(set_magic)
display(set_spell)

{'a', 'b', 'c', 'd', 'r'}

{' ', 'a', 'd', 'e', 'k', 'r', 'v'}

Bitwise **SUBTRACTION**

In [23]:
# letters in set_magic but not in set_spell
display(set_magic - set_spell)
# letters in set_spell but not in set_magic
display(set_spell - set_magic)

{'b', 'c'}

{' ', 'e', 'k', 'v'}

In [18]:
# Note that Bitwise ADDITION is not supported for sets
# will error out
# set_magic + set_spell

Bitwise **OR**

In [24]:
# letters in set_magic or set_spell or both
set_magic | set_spell

{' ', 'a', 'b', 'c', 'd', 'e', 'k', 'r', 'v'}

Bitwise **AND**

In [25]:
# letters in both set_magic and set_spell
set_magic & set_spell

{'a', 'd', 'r'}

Bitwise **XOR**  Exclusive OR

In [26]:
# letters in either set_magic or set_spell, but not in both
set_magic ^ set_spell

{' ', 'b', 'c', 'e', 'k', 'v'}

#### What are your questions on sets?